@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Recipe Box</h1>
    <p>This is an application built with asp.net core using MVC design pattern.</p>
</div>
